


<style>
    .modal-content {
        text-align: left !important;
        direction: ltr !important;
    }

</style>


<!-- Right Links and Account Options -->
<div class="col-lg-6 text-center text-lg-right">
    <div class="d-inline-flex align-items-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
            <div class="dropdown-menu dropdown-menu-right">
                {% if not isAuthenticated %}
                    <button class="dropdown-item" type="button" onclick="window.location.href='{{ path('sign_in') }}'">Login</button>
                {% else %}
<button class="dropdown-item" type="button" onclick="window.location.href='{{ path('logout') }}'">Logout</button>
                    <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
                    <!-- Button for Changing Password -->
                    <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change Password</button>
                {% endif %}
            </div>
        </div>
    </div>

    {% if isAuthenticated %}
        <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editProfileModalLabel">Edit Profile</h1>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">close</button>
                    </div>
                    <div class="modal-body">
                        {% if utilisateur %}
                            <!-- Profile Edit Form -->
                            <form method="post" action="{{ path('edit_profile') }}">
                                <!-- User Information (Name, Surname, Email) -->
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <label for="nom">Name</label>
                                        <input type="text" class="form-control" id="nom" name="nom" value="{{ utilisateur.nom }}" placeholder="Name">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                    <label for="prenom">Surname</label>
                                        <input type="text" class="form-control" id="prenom" name="prenom" value="{{ utilisateur.prenom }}" placeholder="Surname">
                                        
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" value="{{ utilisateur.email }}" placeholder="Email">
                                    </div>
                                </div>

                                <!-- Addresses Section -->
                                <h1>Addresses</h1>
                                <div id="addresses-container">
                                    {% if utilisateur.adresses is empty %}
                                        <p>No addresses saved.</p>
                                    {% else %}
                                        {% for adresse in utilisateur.adresses %}
                                            <div class="address-block mb-4 p-3 border rounded" id="address-{{ adresse.id }}">
                                                <!-- Button for deleting the address -->
                                                <button type="submit" name="adresses[{{ loop.index0 }}][delete]" value="1" class="btn btn-danger">
                                                    Delete this address
                                                </button>

                                                <input type="hidden" name="adresses[{{ loop.index0 }}][id]" value="{{ adresse.id }}">

                                                <!-- Street -->
                                                <div class="mb-3">
                                                    <div class="form-floating">
                                                        <label>Street</label>
                                                        <input type="text" class="form-control" name="adresses[{{ loop.index0 }}][rue]" value="{{ adresse.rue }}" placeholder="Street">
                                                        
                                                    </div>
                                                </div>
                                                <!-- City -->
                                                <div class="mb-3">
                                                    <div class="form-floating">
                                                    <label>City</label>
                                                        <input type="text" class="form-control" name="adresses[{{ loop.index0 }}][ville]" value="{{ adresse.ville }}" placeholder="City">
                                                        
                                                    </div>
                                                </div>
                                                <!-- Postal Code -->
                                                <div class="mb-3">
                                                    <div class="form-floating">
                                                    <label>Postal Code</label>
                                                        <input type="text" class="form-control" name="adresses[{{ loop.index0 }}][code_postal]" value="{{ adresse.codePostal }}" placeholder="Postal Code">
                                                        
                                                    </div>
                                                </div>
                                                <!-- Country -->
                                                <div class="mb-3">
                                                    <div class="form-floating">
                                                    <label>Country</label>
                                                        <input type="text" class="form-control" name="adresses[{{ loop.index0 }}][pays]" value="{{ adresse.pays }}" placeholder="Country">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <!-- Add Address Button -->
                                <button type="button" class="btn btn-success mt-3" id="add-address">Add an address</button>

                                <!-- Submit Button -->
                                <div class="d-flex justify-content-between mt-3">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>

                            <script>
                                let addressCounter = {{ utilisateur.adresses|length }}; // Track number of addresses

                                // Add address
                                document.getElementById('add-address').addEventListener('click', function () {
                                    let container = document.getElementById('addresses-container');
                                    
                                    let addressHTML = `
                                        <div class="address-block mb-4 p-3 border rounded" id="new-address-${addressCounter}">
                                            <!-- Button for deleting the address -->
                                            <button type="submit" name="adresses[${addressCounter}][delete]" value="1" class="btn btn-danger">
                                                Delete this address
                                            </button>

                                            <input type="hidden" name="adresses[${addressCounter}][id]" value=""> <!-- Empty ID for new addresses -->

                                            <div class="mb-3">
                                                <div class="form-floating"> <label>Street</label>
                                                    <input type="text" class="form-control" name="adresses[${addressCounter}][rue]" placeholder="Street">
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-floating"><label>City</label>
                                                    <input type="text" class="form-control" name="adresses[${addressCounter}][ville]" placeholder="City">
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-floating"><label>Postal Code</label>
                                                    <input type="text" class="form-control" name="adresses[${addressCounter}][code_postal]" placeholder="Postal Code">
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-floating"> <label>Country</label>
                                                    <input type="text" class="form-control" name="adresses[${addressCounter}][pays]" placeholder="Country">
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    `;

                                    container.insertAdjacentHTML('beforeend', addressHTML);
                                    addressCounter++;
                                });
                            </script>

                        {% else %}
                            <p>User not found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


<!-- Modal for Changing Password -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="changePasswordModalLabel">Change Password</h1>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
            </div>
            <div class="modal-body">
                <!-- Alerts Container -->
                <div id="passwordChangeAlert"></div>

                <!-- Password Change Form -->
                <form id="changePasswordForm" method="post" action="{{ path('change_password') }}">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Current Password" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm New Password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>




<script>
   document.addEventListener("DOMContentLoaded", function () {
    document.querySelector("#changePasswordForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent form from reloading the page

        let formData = new FormData(this);

        fetch(this.action, {
            method: "POST",
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            let alertContainer = document.querySelector("#passwordChangeAlert");
            alertContainer.innerHTML = `
                <div class="alert alert-${data.status === 'success' ? 'success' : 'danger'} alert-dismissible fade show" role="alert">
                    ${data.message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            `;
            if (data.status === "success") {
                document.querySelector("#changePasswordForm").reset();
            }
        })
        .catch(error => console.error("Error:", error));
    });
});

</script>


    {% else %}
        <p>Please log in to edit your profile.</p>
    {% endif %}
</div>